@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
  color: #000000;
  -webkit-font-smoothing: antialiased;
}

/* Custom Alo-style font spacing */
.tracking-alo {
  letter-spacing: 0.15em;
}